body {
  margin: 0;
  background: #52a3f5;
}
/* PAGINA PRINCIPAL*/
.h2Principal {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  text-transform: uppercase;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
}

.div1Principal {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.img1Principal {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 40%;
  margin: auto;
  padding-top: 30px;
  margin-bottom: 30px;
}
.img1Principal:hover {
  transform: scale(1.5);
  transition: 1s;
}
.UlPrincipal {
  background: #52a3f5;
  display: flex;
  flex-direction: row;
}
.div3Principal {
  display: flex;
  justify-content: space-around;
}
.div2Principal {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}
.imgPrincipal {
  flex-direction: column;
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
.imgPrincipal1 {
  height: 50px;
  width: 50px;
  margin-left: 0px;
  padding-bottom: 30px;
}
p {
  text-align: center;
}
.columnaDerecha {
  font-size: 25px;
}

/* BARRA DE NAVEGACION*/

ul {
  list-style-type: none;
  margin: 0;
  background-color: #8687f3;
  justify-content: space-around;
  height: 40px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 3px 8px 3px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.2);
  border-radius: 25px;
  background-color: #555;
  color: white;
  transition: 1s;
  filter: opacity(0.6);
}
.ulNav {
  display: flex;
  left: 100%;
  transition: left 0.5s;
}
.imgNav {
  height: 50px;
  width: 50px;
}
button {
  border: none;
  display: none;
}

/* MEDIA*/
@media (max-width: 768px) {
  body {
    background-color: #000;
    color: burlywood;
  }
  .ulNav {
    background-color: aqua;
    color: crimson;
  }
  .imgPrincipal1 {
    height: 30px;
    width: 30px;
  }
  .imgPrincipal {
    height: 30px;
    width: 30px;
  }
  .ulNav {
    flex-direction: column;
    left: 0%;
    top: 0;
    align-items: center;
    padding: 20px 0;
  }
  button {
    display: block;
    position: absolute;
    left: 200px;
  }
}
/*FONDO*/

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}
/*Fondo SobreMi*/

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*sobreMi*/
.divSobreMi {
  padding: auto;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 1%;
  width: 100%;
  margin-top: 35px;
}
.imgSobreMi {
  height: 200px;
  width: 200px;
  border-radius: 40%;
  margin: auto;
  padding-top: 30px;
  margin-bottom: 30px;
}
.divSobreMi2 {
  padding: auto;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 30%;
  width: 100%;
  margin-top: 35px;
}
.divSobreMi3 {
  padding: auto;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 60%;
  width: 100%;
  margin-top: 35px;
}
/*curriculum*/
.curriculum {
  width: 80%;

  display: block;
  margin: auto;
}
.CurriculumDiv {
  background-color: rgb(184, 181, 187);
}
